{
"modules" : [ 
  {
    "name" : "Zabbix",
    "position" : 10,
    "type" : "zabbix",
    "api_uri" : "https://zabbix-server/zabbix/api_jsonrpc.php",
    "api_user" : "admin",
    "api_pass" : "pa$$word",
    "timeout" : 30,
    "verify_ssl" : "off"
  },
  {
   "name" : "Nagios",
   "position" : 30,
   "type" : "nagios",
   "api_uri" : "http://nagios-server/nagios",
   "api_user" : "nagiosadmin",
   "api_pass" : "pa$$word",
   "timeout" : 120,
   "verify_ssl" : "off"
  }
]
}
