Source: cmonk
Section: utils
Priority: extra
Maintainer: Rustam Tsurik <rustam.tsurik@gmail.com>
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.4
Homepage: http://github.com/rtsurik/cmonk
#Vcs-Git: git://git.debian.org/collab-maint/cmonk.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/cmonk.git;a=summary

Package: cmonk
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, libcurses-perl (>=1.28), libjson-rpc-perl (>=1.06), libterm-readkey-perl (>=2.30), liblwp-protocol-https-perl (>=6.02), libhtml-parser-perl(>=3.69), libswitch-perl (>=2.17), libyaml-perl (>=1.13)
Description: A simple ncurses-based frontend for Zabbix, Nagios, etc.
